.footer {
  color: var(--color-footer-foreground);
  background: var(--color-footer-background);
}

.footer a,
.footer a:visited {
  line-height: var(--line-height-footer-nav);
  color: var(--color-footer-foreground);
}

.footer .hidden {
  display: none;
}
