.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  margin-bottom: var(--gutter-md);
  font-size: var(--font-size-logotype);
  color: var(--color-header);
  background: var(--color-page-background);
}

.siteName {
  font-weight: unset;
}

.headerContents {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: transparent;
  box-shadow: var(--box-shadow-header);
}

.header h1 {
  word-break: break-all;
}
