/* stylelint-disable magic-numbers/magic-numbers */

.layout {
  max-width: 100vw;
  padding: 0 var(--gutter-md);

  @media (min-width: var(--width-big-enough)) {
    max-width: calc(var(--width-big-enough) - (2 * var(--gutter-md)));
    margin: 0 auto;
  }
}
