/* stylelint-disable magic-numbers/magic-numbers */

.layout {
  display: block;
  width: 100vw;
  padding: var(--gutter-sm);
}

@media (min-width: 900px) {
  .layout {
    min-width: 900px;
    max-width: calc(900px - (2 * var(--gutter-md)));
    padding: var(--gutter-md);
    margin: 0 auto;
  }
}
