.localeMenuHeader {
  text-align: center;
  filter: grayscale();
}

.localeMenuHeader span + span {
  position: relative;
  bottom: var(--gutter-md);
}

.localeMenu fieldset label {
  display: flex;
  gap: var(--gutter-md);
  align-items: center;
}

.localeMenu fieldset label + label {
  margin-top: var(--gutter-md);
}
