.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-overlay-background);
}

.dialogContainer {
  align-self: flex-end;
  width: 100%;
  /* stylelint-disable-next-line magic-numbers/magic-numbers */
  max-width: 900px;
  padding: var(--gutter-sm);
  background-color: var(--color-page-background);

  @media (min-width: 480px) {
    align-self: unset;
    width: var(--width-modal-dialog-480);
  }
}

:local(.dialogContainer):global(.animate) {
  position: relative;
  top: var(--top-modal-dialog-transition-begin);

  @media (prefers-reduced-motion: no-preference) {
    transition: var(--transition-modal-dialog-sm);
  }

  @media (min-width: 480px) {
    position: unset;
    top: unset;
    opacity: var(--opacity-modal-dialog-transition-begin);

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--transition-modal-dialog-lg);
    }
  }
}

:local(.dialogContainer):global(.animate.animate-start) {
  top: var(--top-modal-dialog-transition-end);

  @media (min-width: 480px) {
    top: unset;
    opacity: var(--opacity-modal-dialog-transition-end);
  }
}
