.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal-backdrop);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  background-color: var(--color-overlay-background);
}

.dialogContainer {
  align-self: flex-end;
  width: 100%;
  /* stylelint-disable-next-line magic-numbers/magic-numbers */
  max-width: 900px;
  /* stylelint-disable-next-line magic-numbers/magic-numbers */
  max-height: 90vh;
  padding: var(--gutter-sm);
  overflow: hidden;
  background-color: var(--color-page-background);
  animation: var(--animation-dialog-slide-up);

  @media (min-width: 480px) {
    align-self: unset;
    animation: var(--animation-dialog-opacity);
  }

  @media (prefers-reduced-motion) {
    animation: none;
  }
}
