.pageTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageTitleContainer h2 {
  display: inline-block;
}

.pageTitleContainer button {
  padding: var(--gutter-sm);
  font-size: var(--font-size-page-edit-button);
}
