.siteBanner {
  padding: var(--gutter-sm);
}

.bannerContents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dismissTrigger {
  padding: var(--gutter-sm);
  font-size: var(--font-size-banner-dismiss);
  font-weight: var(--font-weight-banner-dismiss);
  color: unset;
  background-color: transparent;
  border: 0;
}

.siteBanner[data-severity="info"] {
  background-color: var(--color-severity-info);
}

.siteBanner[data-severity="warning"] {
  background-color: var(--color-severity-warning);
}

.siteBanner[data-severity="danger"] {
  color: var(--text-inverted);
  background-color: var(--color-severity-danger);
}
