/* stylelint-disable magic-numbers/magic-numbers */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-default);
  line-height: 1;
  list-style-type: none;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  outline: 0;
}

a {
  font-weight: var(--font-weight-link);
  color: var(--color-link);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-link-visited);
}

a.unstyled {
  font-weight: inherit;
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  a:focus {
    animation: var(--animation-pulse-focus);
  }
}

button {
  padding: var(--gutter-md);
  border: var(--border-button);
}

button[aria-pressed="true"] {
  box-shadow: var(--box-shadow-toggle-button-pressed);
}

button:focus {
  box-shadow: var(--box-shadow-menu-trigger);
}

code {
  font-family: var(--font-family-code);
  background: var(--color-code-block-background);
}

dialog {
  z-index: 1;
}

form[data-active] input[data-input-touched]:not(:focus):invalid {
  outline: var(--outline-input-invalid);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
}

h1 {
  margin: var(--gutter-md) 0;
  font-size: var(--font-size-h1);
}

h2 {
  margin: var(--gutter-md) 0;
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

input {
  background-color: var(--color-input-background);
}

input:invalid {
  box-shadow: none;
}

input[type="text"] {
  letter-spacing: 0.5px;
  border: var(--border-text-input);
}

input[type="password"] {
  letter-spacing: 4px;
  border: var(--border-text-input);
}

/* stylelint-disable-next-line selector-type-no-unknown */
md-preview {
  display: block;
  padding: 16px;
}

main {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  margin-bottom: var(--gutter-lg);
}

p {
  line-height: var(--line-height-body-copy);
}

pre code {
  display: inline-block;
}

textarea {
  padding: var(--gutter-sm);
  font-family: var(--font-family-code);
  font-size: var(--font-size-text-input);
  line-height: var(--line-height-body-copy);
  letter-spacing: 0.5px;
  border: var(--border-text-input);
}

time {
  display: block;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--font-size-body-copy);
  font-weight: var(--font-weight-body-copy);
  line-height: var(--line-height-body-copy);
  color: var(--color-body-copy);
  background-color: var(--color-page-background);
}
