/* stylelint-disable magic-numbers/magic-numbers, magic-numbers/magic-colors */

:root {
  --background-unsaved-changes:
    repeating-linear-gradient(
      45deg,
      #fff0f0,
      #fff0f0 15px,
      var(--color-page-background) 15px,
      var(--color-page-background) 30px
    );
  --border-color-blockquote: #d0d0e0;
  --border-button: 1px solid #f0f0f0;
  --border-radio-button: 2px solid #808080;
  --border-radius-code-block: 2px;
  --border-radius-link-preview: 2px;
  --border-radius-radio-button: 50%;
  --border-text-input: 1px solid #f0f0f0;
  --border-width-blockquote: 4px;
  --box-shadow-header: 0 3px 3px -3px #e0e0e0;
  --box-shadow-menu-trigger: 0 0 3px 3px #e0e0e0;
  --box-shadow-radio-button: 0 0 4px 4px #d0d0d0;
  --box-shadow-toggle-button-pressed: inset 2px 2px 0 0 #e0e0e0;
  --color-body-copy: #222222;
  --color-busy-indicator-background: #f0f0f0;
  --color-busy-indicator-foreground: #4f6272;
  --color-code-block-background: #f0f0fa;
  --color-footer-background: #4f6272;
  --color-footer-foreground: #fafafa;
  --color-header: #222222;
  --color-input-background: #ffffff;
  --color-link: #2c2ce0;
  --color-link-visited: #7939a0;
  --color-modal-background: rgba(0, 0, 0, 0.5);
  --color-page-background: #fafafa;
  --color-radio-button-tick: steelblue;
  --color-severity-info: lightblue;
  --color-severity-warning: gold;
  --color-severity-danger: firebrick;
  --color-toggle-button-pressed: #f0f0f0;
  --color-version-info: #a0a0a0;
  --font-family-code: monospace;
  --font-family-default: 'Inter', sans-serif;
  --font-family-body-copy: 'Inter', sans-serif;
  --font-family-header: 'Inter', sans-serif;
  --font-family-default: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Inter", "Helvetica", "Arial", sans-serif;
  --font-family-header: var(--font-family-default);
  --font-family-body-copy: var(--font-family-default);
  --font-size-banner-dismiss: 30px;
  --font-size-body-copy: 18px;
  --font-size-feeditem-byline: 18px;
  --font-size-link-preview-description: 16px;
  --font-size-logotype: 24px;
  --font-size-page-edit-button: 16px;
  --font-size-site-menu: 16px;
  --font-size-site-menu-trigger: 24px;
  --font-weight-banner-dismiss: 600;
  --font-weight-body-copy: 300;
  --font-weight-feeditem-byline: 300;
  --font-weight-header: 300;
  --font-weight-link: 500;
  --font-weight-link-preview-title: 600;
  --gutter-base-unit: 8px;
  --gutter-xs: calc(var(--gutter-base-unit) / 4);
  --gutter-sm: calc(var(--gutter-base-unit) * 1);
  --gutter-md: calc(var(--gutter-base-unit) * 2);
  --gutter-lg: calc(var(--gutter-base-unit) * 4);
  --gutter-xl: calc(var(--gutter-base-unit) * 8);
  --height-radio-button: 24px;
  --line-height-body-copy: 1.5;
  --line-height-footer-nav: 1.5;
  --line-height-menu-trigger: 24px;
  --max-width-link-preview: 50%;
  --outline-input-invalid: 2px solid firebrick;
  --outline-link-preview-focus: 1px solid var(--color-link);
  --width-link-preview-favicon: 32px;
  --width-radio-button: var(--height-radio-button);
}
