.page {
  display: flex;
  flex-direction: column;
}

.page article + article {
  margin-top: var(--gutter-xl);
}

.page article > * ~ * {
  margin-top: var(--gutter-md);
}

.busy {
  align-self: center;
  margin: auto;
}
