.byline {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--gutter-sm);
  margin-top: var(--gutter-sm);
  font-size: var(--font-size-feeditem-byline);
  font-weight: var(--font-weight-feeditem-byline);
}

.byline .tagList,
.byline .tagList li {
  display: inline;
}

.byline .tagList li:not(:last-child)::after {
  margin-right: var(--gutter-xs);
  content: ',';
}
