.editPostDialog {
  display: flex;
  flex-direction: column;
  width: var(--width-add-blog-comment-dialog-sm);
  height: var(--height-add-blog-comment-dialog-sm);

  @media (min-width: 480px) {
    width: var(--width-add-blog-comment-dialog-lg);
    height: var(--height-add-blog-comment-dialog-lg);
  }
}

.editPostDialog form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.editPostDialog [role="status"] {
  height: var(--height-status-message-container);
}

.editPostDialog [role="group"] * ~ * {
  margin-left: var(--gutter-sm);
}

.markdownPreviewPane {
  /* set a flex-basis in order to get scrolling to work properly */
  flex-basis: 0;
  flex-grow: 1;
  margin: var(--gutter-sm) 0;
  overflow-y: scroll;
}
