.feedItem > * ~ * {
  margin-top: var(--gutter-md);
}

.byline {
  display: flex;
  grid-gap: var(--gutter-sm);
  margin-top: var(--gutter-sm);
  font-size: var(--font-size-feeditem-byline);
  font-weight: var(--font-weight-feeditem-byline);
}

.tagList,
.tagList li {
  display: inline;
}

.tagList li:not(:last-child)::after {
  margin-right: var(--gutter-xs);
  content: ',';
}

header {
  margin-bottom: var(--gutter-lg);
}

address {
  display: inline;
  font-style: unset;
}

.commentsHeader {
  margin: var(--gutter-md) 0;
}

.comments > * ~ * {
  margin-top: var(--gutter-lg);
}

.comment {
  display: grid;
  grid-template-areas:
    "icon byline"
    "icon text";
  grid-template-columns: max-content 1fr;
  grid-gap: var(--gutter-md) var(--gutter-md);
}

.commentIcon {
  grid-area: icon;
}

.commentByline {
  grid-area: byline;
}

.commentByline > * ~ * {
  margin-top: var(--gutter-sm);
}

.commentText {
  grid-area: text;
}
